<!DOCTYPE html>
<html>

<body>
    <nav id="toc_container">
        <ul class="toc_list">
            <li><a href="arme#armes">Armes</a>
                <ul>
                    <li><a href="arme#armes-une">Armes à une main</a></li>
                    <li><a href="arme#armes-deux">Armes à deux mains</a></li>
                    <li><a href="arme#armes-distance">Armes à distance</a></li>
                    <li><a href="arme#armes-bouclier">Boucliers</a></li>
                    <li><a href="arme#armes-soin">Bâton de soin</a></li>
                    <li><a href="arme#armes-types">Types d'armes</a></li>
                </ul>
            </li>
            <li><a href="arme#armures">Armures</a></li>
        </ul>
    </nav>
    <div class="just-all">
        <section id="armes">
            <h1>Armes</h1>
            <section id="armes-une">
                <h2>Armes à une main</h2>
                <div>
                    <u>Dague</u> : D6 parade impossible, ignore l'armure (assassin+ninja seulement). Peut être équipé
                    sans restriction.
                </div>
                <div>
                    <u>Stylet</u> : D4 parade impossible. Inflige 2 de dégâts pendant 2 tours après une blessure.
                </div>
                <div>
                    <u>Épée</u> : D8, parade possible, possibilité de la prendre à l'envers à deux mains pour attaquer
                    avec un D6 ignore l'armure.
                </div>
                <div>
                    <u>Épée courbe (cimeterre/katana)</u> : D8 de dégâts, inflige 2 dégâts en plus en cas de charge.
                    Malus de 10 à la parade.
                </div>
                <div>
                    <u>Rapière</u> : D8, parade impossible mais donne un bonus de 10 à l’esquive et ne se déplace pas en
                    esquivant, ignore un point d’armure.
                </div>
                <div>
                    <u>Hache</u> : D8, parade possible malus 10, ignore deux points d'armure.
                </div>
                <div>
                    <u>Lance</u> : D8, parade impossible, +5 de dégâts contre charge.
                </div>
                <div>
                    <u>Marteau/masse</u> : D8, ignore l'armure, pas de dégâts supplémentaires en cas de charge.
                </div>
                <div>
                    <u>Fléau à une main</u> : D8, parade impossible, ignore l'armure, ignore 15 points de parade de la
                    cible.
                </div>
                <div>
                    <u>Bâton de soin (utilisé comme arme)</u> : D4, parade impossible, ignore l'armure.
                </div>
            </section>
            <section id="armes-deux">
                <h2>Armes à deux mains</h2>
                <div>
                    <u>Claymore</u> : D10, parade possible.
                </div>
                <div>
                    <u>Hallebarde</u> : D12 parade possible malus 10, +5 de dégâts contre charge.
                </div>
                <div>
                    <u>Hache à deux mains</u> : D10, parade possible malus 10, ignore 2 pts d'armure.
                </div>
                <div>
                    <u>Marteau/masse à deux mains</u> : D10, ignore l'amure, pas de dégâts supplémentaires en cas de
                    charge.
                </div>
                <div>
                    <u>Fléau à deux mains</u> : D10, parade impossible, ignore l'armure, malus de 15 à la parade.
                </div>
                <div>
                    <u>Bâton de combat</u> : D6, parade impossible, ignore l'armure.
                </div>
            </section>
            <section id="armes-distance">
                <h2>Armes à distance</h2>
                <div>
                    <u>Arc</u> : D8, +5 de dégâts contre unité aérienne.
                </div>
                <div>
                    <u>Arc elfe</u> : D10, +5 de dégâts contre unité aérienne.
                </div>
                <div>
                    <u>Arbalète</u> : D10, +5 de dégâts, ignore 3 points d'armure, rechargement nécessaire.
                </div>
                <div>
                    <u>Arbalète à une main</u> : D8 +5 de dégâts contre unité aérienne, ignore 1 points d'armure.
                </div>
                <div>
                    <u>Fronde</u> : D6, ignore l'armure.
                </div>
                <div>
                    <u>Fusil</u> : D8, ignore 1 point d'armure, rechargement nécessaire, inflige D10 de dégât au moral.
                </div>
                <div>
                    <u>Javelot</u> : D8 ignore 1 point d'armure, munitions limitées, portée faible.
                </div>
                <div>
                    <u>Hache de lancer</u> : D10 ignore 1 point d'armure, munitions limitées, portée faible.
                </div>
            </section>
            <section id="armes-bouclier">
                <h2>Boucliers</h2>
                <div>
                    <u>Petit bouclier</u> : Peut être utilisé en même temps que certaines armes à deux mains, ne subit
                    pas de malus d'attaques successives.
                </div>
                <div>
                    <u>Bouclier</u> : Bonus de 10 à la parade, ne subit pas de malus d'attaques successives.
                </div>
                <div>
                    <u>Grand bouclier</u> : Bonus de 20 à la parade, ne subit pas de malus d'attaques successives,
                    charge impossible.
                </div>
                <div>
                    <u>Mains nues</u> : N'a pas de dé de dégât, ne prend donc en compte que l'expertise, les bonus de
                    dégâts liés au physique et la posture. Deux modes d'attaque : Déluge de coups : inflige un D4
                    attaques, inflige 5 de dégâts maximums. Attaque puissante : double les dégâts infligés et ignore un
                    point d'armure, inflige 10 de dégâts maximums.
                    <br>
                    N'est pas sujet à des malus en cas d'attaque ciblant un membre précis.
                </div>
            </section>
            <section id="armes-soin">
                <h2>Bâton de soin</h2>
                <div>
                    <u>Bâton de soin</u> : Soigne un D8 pvs ou dissipe gel, poison, paralysie, brûlure. Peut être
                    utilisé sur soi-même.
                </div>
            </section>
            <section id="armes-types">
                <h2>Types d’armes</h2>
                <div>
                    <u>Armes normales</u> : Dé de dégât.
                </div>
                <div>
                    <u>Armes en acier trempé ou équivalent</u> : Moitié de dégâts fixes, le reste sur un dé.
                </div>
                <div>
                    <u>Arme en acier damassé</u> : Dégâts fixe.
                </div>
            </section>
        </section>

        <section id="armures">
            <h1>Armures</h1>
            <div>
                <u>Armure légère</u> : 1 point de défenses physiques, 4 points de résistances magiques.
            </div>
            <div>
                <u>Armure intermédiaire</u> : 2 points de défenses physiques, 3 points de résistances magiques.
            </div>
            <div>
                <u>Armure lourde</u> : 3 points de défenses physiques, 2 points de résistances magiques.
            </div>
            <div>
                <u>Armure très lourde</u> : 4 points de défenses physiques, 1 point de résistance.
            </div>
            <div>
                Une amélioration d’armure permet de gagner au choix un point de défense ou un point de résistance.
            </div>
        </section>
    </div>
</body>

</html>