<!DOCTYPE html>
<html>

<body>
    <nav id="toc_container">
        <ul class="toc_list">
            <li><a href="posture#infant">Postures d'infanterie</a>
                <ul>
                    <li><a href="posture#infant-corps">Combat au corps à corps</a></li>
                    <li><a href="posture#infant-distance">Combat à distance</a></li>
                    <li><a href="posture#infant-magie">Utilisateurs de magie</a></li>
                </ul>
            </li>
            <li><a href="posture#cavalerie">Postures de cavalerie</a>
                <ul>
                    <li><a href="posture#caval-corps">Combat au corps à corps</a></li>
                    <li><a href="posture#caval-distance">Combat à distance</a></li>
                    <li><a href="posture#caval-magie">Utilisateurs de magie</a></li>
                    <li><a href="posture#caval-hybride">Combat hybride</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="just-all">
        <section id="infanterie">
            <h1> Postures d'infanterie</h1>
            <section id="infant-corps">
                <h2>Combat au corps à corps</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_Offensif.png">&nbsp;<u>Offensif</u> : Bonus de 10 à tous les jets d'attaques, permet la charge, malus de 10 à la parade
                    et à l'esquive, plus 1 aux dégâts.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_Defensif.png">&nbsp;<u>Défensif</u> : Bonus de 10 à la parade et à l'esquive, charge impossible, bonus de 1 à la défense
                    et résistance. Seul les dégâts de l'arme sont pris en compte.
                </div>
            </section>
            <section id="infant-distance">
                <h2>Combat à distance</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_escarmouche.png">&nbsp;<u>Escarmouche</u> : Bonus de 10 à l'esquive, malus de 10 pour être touché par les attaques
                    d'opportunités, malus de 5 à l'attaque.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_tir-precis.png">&nbsp;<u>Tir précis</u> : Bonus de 10 aux jets d'attaque, plus 1 aux dégâts, malus de 10 à l'esquive.
                </div>
            </section>
            <section id="infant-magie">
                <h2>Utlisateurs de magie</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_furie-magique.png">&nbsp;<u>Furie magique</u> : Bonus de 10 aux jets de magie, bonus de 1 aux dégâts/soins/pvs de bouclier,
                    -10 parade/esquive.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_eveil-magique.png">&nbsp;<u>Éveil maximal</u> : Possibilité de lancer un sort de niveau 1 ne faisant pas de dégâts en début
                    de tour ennemi, donne la possibilité d'esquiver et 5 d'esquive.
                </div>
            </section>
        </section>

        <section id="cavalerie">
            <h1>Postures de cavalerie</h1>
            <section id="caval-corps">
                <h2>Combat au corps à corps</h2>
                <div>
                    <u>Charge</u> : Ajoute un D4+le nombre de point de défense de l'armure aux dégâts, donne +15 pour
                    charger et +5 pour toucher. Les ennemis sur la route de la charge subissent un D4+le nombre de point
                    de défense de l'armure du cavalier (ne peut augmenter). Parade et esquive impossible, -1 à la
                    défense et à la résistance.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_contact.png">&nbsp;<u>Contact</u> : Malus de 2 aux dégâts, bonus de 5 pour parer et esquiver, -1 aux dégâts subis.
                </div>
            </section>
            <section id="caval-distance">
                <h2>Combat à distance</h2>
                <div>
                    <u>Tir en cercle</u> : Bonus de 2 aux dégâts, bonus de 10 à l'esquive, malus de 5 pour toucher. Le
                    joueur ne peut se déplacer librement dans cette posture et elle ne peut être maintenue pour plus de
                    3 tours.
                </div>
            </section>
            <section id="caval-magie">
                <h2>Utilisateurs de magie</h2>
                <div>
                    <u>Défenseur</u> : +1 à la défense et à la résistance des alliés adjacents et 1 pv soigné par tour
                    (joueur exclus, non cumulable). -5 pour lancer des sorts.
                </div>
                <div>
                    <u>Mobilité exceptionnelle</u> : Permet de lancer deux sorts le même tour (le deuxième doit coûter
                    moins de mana que le premier), -10 pour lancer des sorts.
                </div>
            </section>
            <section id="caval-hybride">
                <h2>Combat hybride</h2>
                <div>
                    <u>Harcèlement</u> : Malus de 2 aux dégâts, donne un malus de 5 dans toutes les stats à l'ennemi
                    touché et un malus de 1 aux dégâts. Le joueur s'il se fait attaquer subi un D4 de dégât en plus.
                    Bonus de 5 à l'esquive.
                </div>
            </section>
        </section>
    </div>
</body>

</html>