<!DOCTYPE html>
<html>

<body>
    <nav id="toc_container">
        <ul class="toc_list">
            <li><a href="posture#infanterie">Postures à pieds</a>
                <ul>
                    <li><a href="posture#infant-corps">Corps à corps</a></li>
                    <li><a href="posture#infant-distance">Arme à distance</a></li>
                    <li><a href="posture#infant-magie">Magie</a></li>
                </ul>
            </li>
            <li><a href="posture#cavalerie">Postures montées terrestres</a>
                <ul>
                    <li><a href="posture#caval-corps">Corps à corps</a></li>
                    <li><a href="posture#caval-distance">Arme à distance</a></li>
                    <li><a href="posture#caval-magie">Magie</a></li>
                </ul>
            </li>
            <li><a href="posture#volant">Postures montées volantes</a>
                <ul>
                    <li><a href="posture#volant-corps">Corps à corps</a></li>
                    <li><a href="posture#volant-distance">Arme à distance</a></li>
                    <li><a href="posture#volant-magie">Magie</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="just-all">
        <br> 
        <div>
            Les postures sont des modificateurs à choisir pour votre personnage <b>au début de chacuns de vos tours lors d'un combat</b>. Elles sont chacunes adaptées à des situations en combat mais apportent des faiblesses, donc réfléchissez bien avec de vous positionner !
            Les postures que vous pourrez utiliser dépendent de votre style de combat (arme) et de votre possession ou non d'une monture. 
        </div>
        <section id="infanterie">
            <h1>Postures à pied</h1>
            <section id="infant-corps">
                <h2>Corps à corps</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_Offensif.png">&nbsp;<u>Offensif</u> : Bonus de 10 à tous les jets d'attaques, permet la charge, malus de 10 à la parade
                    et à l'esquive, plus 1 aux dégâts.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_Defensif.png">&nbsp;<u>Défensif</u> : Bonus de 10 à la parade et à l'esquive, charge impossible, bonus de 1 à la défense
                    et résistance. Seul les dégâts de l'arme sont pris en compte.
                </div>
            </section>
            <section id="infant-distance">
                <h2>Arme à distance</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_escarmouche.png">&nbsp;<u>Escarmouche</u> : Bonus de 10 à l'esquive, malus de 10 pour être touché par les attaques
                    d'opportunités, malus de 5 à l'attaque.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_tir-precis.png">&nbsp;<u>Tir précis</u> : Bonus de 10 aux jets d'attaque, plus 1 aux dégâts, malus de 10 à l'esquive.
                </div>
            </section>
            <section id="infant-magie">
                <h2>Magie</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_furie-magique.png">&nbsp;<u>Furie magique</u> : Bonus de 10 aux jets de magie, bonus de 1 aux dégâts/soins/pvs de bouclier,
                    -10 parade/esquive.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_eveil-magique.png">&nbsp;<u>Éveil maximal</u> : Possibilité de lancer un sort de niveau 1 ne faisant pas de dégâts en début
                    de tour ennemi, donne la possibilité d'esquiver et 5 d'esquive.
                </div>
            </section>
        </section>

        <section id="cavalerie">
            <h1>Postures montées terrestres</h1>
            <section id="caval-corps">
                <h2>Corps à corps</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_charge.png">&nbsp;<u>Charge</u> : Ajoute un D4+le nombre de point de défense de l'armure aux dégâts, donne +15 pour
                    charger et +5 pour toucher. Les ennemis sur la route de la charge subissent un D4+le nombre de point
                    de défense de l'armure du cavalier (ne peut augmenter). Parade et esquive impossible, -1 à la
                    défense et à la résistance.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_contact.png">&nbsp;<u>Contact</u> : Malus de 2 aux dégâts, bonus de 5 pour parer et esquiver, -1 aux dégâts subis.
                </div>
            </section>
            <section id="caval-distance">
                <h2>Arme à distance</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_tir-de-charge.png">&nbsp;<u>Tir de charge</u> : Impose d’avancer d’au moins 2 mètres en tirant. Bonus de 2 aux dégâts. Bonus de 10 à la parade et à l’esquive. Malus de 10 au tir.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_tir-statique.png">&nbsp;<u>Tir statique</u> : Bonus de 10 au tir. +1 à la pénétration d’armure. Bonus de 5 à la parade. Esquive impossible (sauf si la monture est indiquée comme agile).
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_tir-de-recul.png">&nbsp;<u>Tir de recul</u> : Permet de bouger après un tir. Bonus de 10 à la parade et à l’esquive. Malus de 10 au tir.
                </div>
            </section>
            <section id="caval-magie">
                <h2>Magie</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_assaut-magique.png">&nbsp;<u>Assaut magique</u> :Bonus de 5 pour toucher. Bonus de 5 à la parade et à l’esquive. Permet de bouger après une attaque.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_soutien-magique.png">&nbsp;<u>Soutien magique</u> : Bonus de 1 à la régénération de mana. Bonus d’un D4 aux soins, barrières et soin de moral. Inflige 2 dégâts en moins.
                </div>
            </section>
        </section>

        <section id="volant">
            <h1>Postures montées volantes</h1>
            <section id="volant-corps">
                <h2>Corps à corps</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_pique.png">&nbsp;<u>Piqué</u> : Bonus de 10 pour la charge et l’attaque. Ajoute la valeur de défense de l’armure et de la monture aux dégâts. Inflige un D4 de dégâts au moral de la cible. Malus de 15 à la parade, esquive impossible. Ne peut que viser des cibles terrestres.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_combat_aerien.png">&nbsp;<u>Combat céleste</u> : Charge possible. Bonus de 1 à la défense et à la résistance. Bonus de 5 à la parade et à l’esquive. Les attaques d’ennemis au sol ignorent l’armure du joueur ou de sa monture. Peut bouger après une attaque. Peut bouger après une attaque. Ne peut que viser des cibles aériennes.
                </div>
            </section>
            <section id="volant-distance">
                <h2>Arme à distance</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_soutien-aerien.png">&nbsp;<u>Soutien aérien</u> : Bonus de 10 pour toucher. Bonus de 1 aux dégâts. Inflige un D4 de dégât au moral de la cible. Malus de 10 à la parade et à l’esquive. Peut bouger après une attaque. Ne peut que viser des cibles terrestres.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_superiorite-aerienne.png">&nbsp;<u>Supériorité aérienne</u> : Bonus de 2 aux dégâts. Bonus de 10 à la parade et à l’esquive. Malus de 2 à l’armure. Peut bouger après une attaque. Ne peut que viser des cibles aériennes.
                </div>
            </section>
            <section id="volant-magie">
                <h2>Magie</h2>
                <div>
                    <img class="ph" src="assets/postures/Posture_bombardement.png">&nbsp;<u>Bombardement</u> : Bonus de 1 aux dégâts/soins/barrières/soins de moral. Bonus de 1 à la régénération de mana. Inflige un D4 au moral de la/les cible(s). Malus de 10 à l’esquive. Ne peut que viser des cibles terrestres.
                </div>
                <div>
                    <img class="ph" src="assets/postures/Posture_grace-aerienne.png">&nbsp;<u>Grâce aérienne</u> : Bonus de 15 à la parade/esquive. Bonus de 5 pour toucher. Malus de 2 aux dégâts/soins/barrières/soins de moral. Peut bouger après une attaque. Ne peut que viser des cibles aériennes.
                </div>
            </section>
        </section>
    </div>
</body>

</html>