<!DOCTYPE html>
<html>

<body>
    <nav id="toc_container">
        <ul class="toc_list">
            <li><a href="technique#race">Techniques de race</a>
                <ul>
                    <li><a href="technique#race-humain">Humain</a></li>
                    <li><a href="technique#race-nain">Nain</a></li>
                    <li><a href="technique#race-elfe">Elfe</a></li>
                    <li><a href="technique#race-bernien">Bernien</a></li>
                    <li><a href="technique#race-yeux">Yeux dorés</a></li>
                    <li><a href="technique#race-celeste">Célestes</a></li>
                    <li><a href="technique#race-lycan">Lycanthrope</a></li>
                </ul>
            </li>
            <li><a href="technique#faction">Techniques de faction</a>
                <ul>
                    <li><a href="technique#faction-ress">Ressailya</a></li>
                    <li><a href="technique#faction-elib">Elibian</a></li>
                    <li><a href="technique#faction-saian">Saian</a></li>
                    <li><a href="technique#faction-riluo">Riluo</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="just-all">
        <section id="race">
            <h1>Techniques de race</h1>
            <section id="race-humain">
                <h2>Humain</h2>
                <div>
                    <u>Régénération</u> : Gain d'un pv par tour.
                </div>
                <div>
                    <u>Guerriers vétéran</u> : Possibilité de relancer n'importe quel jet de dégât.
                </div>
            </section>
            <section id="race-nain">
                <h2>Nain</h2>
                <div>
                    <u>Résilience naine</u> : Une fois par combat, passe à 1 pv en cas de coup mortel.
                </div>
                <div>
                    <u>Optimisation magique</u> : Réduit de 25% le coût en mana des sorts.
                </div>
            </section>
            <section id="race-elfe">
                <h2>Elfe</h2>
                <div>
                    <u>Réflexe elfique</u> : Peut une fois par tour esquiver dans des conditions normalement
                    impossibles.
                </div>
                <div>
                    <u>Jusqu'au boutisme</u> : Une réussite à un jet de sang-froid à 0 de moral redonne un D6 de moral.
                </div>
            </section>
            <section id="race-bernien">
                <h2>Bernien</h2>
                <div>
                    <u>Peuple des ombres</u> : Ajoute +5 au malus que donne tout type de parade magique.
                </div>
                <div>
                    <u>Armes enchantées</u> : Bonus pour les jets de touche avec des armes proportionnel au nombre de
                    dizaines au-delà de 50 en intelligence (+5 par dizaine). Peut choisir de faire des dégâts physiques
                    ou magiques avec ses armes.
                </div>
            </section>
            <section id="race-yeux">
                <h2>Yeux dorés</h2>
                <div>
                    <u>Vigueur dorée</u> : Regagne 1D4 pvs lorsque les pvs du joueur tombent de 0 à -3.
                </div>
                <div>
                    <u>Peau dure</u> : Bénéficie d'un point de défense supplémentaire.
                </div>
            </section>
            <section id="race-celeste">
                <h2>Célestes</h2>
                <div>
                    <u>Peau magique</u> : Bénéficie d'un point de résistance supplémentaire.
                </div>
                <div>
                    <u>Résilience</u> : Subit pendant un tour de moins les effets négatifs.
                </div>
            </section>
            <section id="race-lycan">
                <h2>Lycanthrope</h2>
                <div>
                    <u>Transformation</u> : : Perte de l'armure et de la posture, +10 pour toucher, Morsure : D12+phys
                    ignore l'armure, griffes 2xD6+phys, cri ésotérique (mage uniquement) inflige 1D4+inté de dégât et
                    stun (zone). Son moral maximum est réduit à 50 %. Si le lycanthrope arrive à 0 de moral, il rentre
                    en frénésie pour 1D4 tours durant lesquels il attaque la cible la plus proche et est incapable de se
                    détransformer.
                </div>
                <div>
                    <u>Régénération</u> : Gain d'un pv par tour.
                </div>
            </section>
        </section>

        <section id="faction">
            <h1>Techniques de faction</h1>
            <section id="faction-ress">
                <h2>Ressailya</h2>
                <div>
                    <u>Tellarine</u>
                    <br><i>Néc pluribus impar</i> : -2 aux dégâts subis lorsque chargé.
                </div>
                <div>
                    <u>Cuahtlalli</u>
                    <br><i>Maître de la chasse</i> : Inflige 5 dégâts en plus aux animaux terrestres.
                </div>
                <div>
                    <u>Terres de l’Église</u>
                    <br><i>Héritage des saints</i> : +2 aux gains de moral dont bénéficie le personnage.
                </div>
            </section>
            <section id="faction-elib">
                <h2>Elibian</h2>
                <div>
                    <u>Rosuha</u>
                    <br><i>Rayonnement intercontinental</i> : Bénéficie de +1 à tous les jets de dialogue et profite en
                    plus d’une technique d’une autre faction (à voir avec le maître du jeu).
                </div>
                <div>
                    <u>Kevda</u>
                    <br><i>Amitié charmacaise</i> : Commence avec une arme ou une armure de qualité supérieure.
                </div>
                <div>
                    <u>Hautes Terres</u>
                    <br><i>Esprit indomptable</i> : +1 en défense lorsque les pvs atteignent 50 %.
                </div>
                <div>
                    <u>Charmac</u>
                    <br><i>Élitisme nain</i> : Inflige +2 de dégâts à un ennemi dans une posture du même type que la
                    sienne.
                </div>
                <div>
                    <u>Krurgis</u>
                    <br><i>Héritage des combattants de la liberté</i> : +15 à l’esquive en cas de désengagement.
                </div>
                <div>
                    <u>Lianna</u>
                    <br><i>Survivant de l’Éther</i> : +1 en résistance lorsque les pvs atteignent 50 %.
                </div>
                <div>
                    <u>Zee-Engte</u>
                    <br><i>Enfant de la mer</i> : : -2 aux dégâts subis des magies d’eau et de vent.
                </div>
                <div>
                    <u>Daken</u>
                    <br><i>Discipline impériale</i> : -1 au dégât au moral, peut relancer les jets de sang-froid.
                </div>
                <div>
                    <u>Lacassam</u>
                    <br><i>Croisé de la démocratie</i> : +2 aux dégâts contre les boss.
                </div>
                <div>
                    <u>Isnealad</u>
                    <br><i>Marchand et mercenaire</i> : +1 à tous les jets de dialogue, peut aller un niveau au-dessus
                    du palier d’expertise imposé par le niveau du joueur.
                </div>
                <div>
                    <u>Dartland</u>
                    <br><i>Châtiment divin</i> : +2 aux dégâts contre les ennemis en posture magique.
                </div>
            </section>
            <section id="faction-saian">
                <h2>Saian</h2>
                <div>
                    <u>Yomi</u>
                    <br><i>Banzai</i> : Inflige 3 dégâts en plus au moral ennemi en le blessant (c’est-à-dire lorsqu’il
                    passe à 50 % ou 25 % de ses pvs).
                </div>
                <div>
                    <u>Léphia</u>
                    <br><i>La terre sous la citadelle des magiciens</i> : Commence avec un niveau supplémentaire dans
                    une expertise magique.
                </div>
                <div>
                    <u>Saria/Lycwen</u>
                    <br><i>Multiculturalisme</i> : Permet de choisir une technique de niveau 1 d’une autre classe que la
                    sienne (à voir avec le maître du jeu).
                </div>
            </section>
            <section id="faction-riluo">
                <h2>Riluo</h2>
                <div>
                    <u>Fengdu</u>
                    <br><i>Survivant des guerres fratricides</i> : +2 aux dégâts contre un ennemi dans la même posture
                    que le joueur.
                </div>
                <div>
                    <u>Deva</u>
                    <br><i>Bénédiction divine</i> : +5 en résistance mentale.
                </div>
                <div>
                    <u>Horde blanche</u>
                    <br><i>Fédéré</i> : +1 en défense.
                </div>
                <div>
                    <u>Gyo</u>
                    <br><i>Guérilla</i> : Peut faire relancer les jets d’attaque d’opportunité.
                </div>
            </section>
        </section>
    </div>
</body>

</html>