header{
    position: fixed;
    width: 100%;
    padding: 1.5625em;
    padding-bottom: 1.3125em;
    background: black;
    color: #eebb14;
    top: 0;
    left: 0;
    z-index: 1;
}

.title{
    position: absolute;
    font-size: 1.875em;
    top: 0.181em;
}

.categories{
    position: absolute;
    left: 9.75em;
    font-size: 1.5em;
    top: 0.381em;
}

#cat1, #cat2 {
    display: inline;
    padding: 0.395em 1.5625em;
}

#cat1:hover, #cat2:hover, #infocontrol:checked + label > #cat1, #mecacontrol:checked + label > #cat2 {
    background: #eebb14;
    color: black;
}

#infocontrol, #mecacontrol {
    display: none;
}

/**Side menu 1**/

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#infos, #mecas {
    background: rgb(79, 79, 79);
    color: #eebb14;
    font-size: 1.25em;
    position: fixed;
    width: 9em;
    height: 110%;
    left: -0.625em;
    top: -0.625em;
    display: none;
}

.i1, .i2, .i3, .m1, .m2, .m3, .m4, .m5, .m6 {
    padding: 0.9375em;
    padding-left: 1.875em;
}

.i1, .m1 {
    padding-top: 4em;
}

.i1:hover, .i2:hover, .i3:hover, .m1:hover, .m2:hover, .m3:hover, .m4:hover, .m5:hover, .m6:hover, #cartescontrol:checked + label > .i1, #histcontrol:checked + label > .i2, #racescontrol:checked + label > .i3, #classcontrol:checked + label > .m1, #armescontrol:checked + label > .m2, #magiescontrol:checked + label > .m3, #postcontrol:checked + label > .m4, #techcontrol:checked + label > .m5, #reliqcontrol:checked + label > .m6 {
    background: #eebb14;
    color: rgb(79, 79, 79);
}

#cartescontrol, #histcontrol, #racescontrol, #classcontrol, #armescontrol, #magiescontrol, #postcontrol, #techcontrol, #reliqcontrol {
    display: none;
}