<!DOCTYPE html>
<html>  
    <header>
        <div class="title">Universe</div>

        <div class="categories">
            <div id="cat1" (click)="getInfo()">Informations & Lore</div>
            <div id="cat2" (click)="getMeca()">Mécaniques</div>
        </div>
    </header>
    <body>
        <div id="infos">
            <div class="i1">Cartes</div>
            <div class="i2">Histoire</div>
            <div class="i3">Races</div>
        </div>
        <div id="mecas">
            <div class="m1">Classes</div>
            <div class="m2">Armes</div>
            <div class="m3">Magies</div>
            <div class="m4">Postures</div>
            <div class="m5">Techniques</div>
            <div class="m6">Reliques</div>
        </div>
    </body>
</html>
